.about-container {
  height: 700px;
  width: 100%;
  background: url("../../public/safetyfirst.jpg") 50% 0 no-repeat;
  justify-content: center;
  background-size: cover;
  padding-top: 220px;
}
.about-sec2 {
  background: #131120;
  background: url("../../public/back1.svg") center -138px / 100% 1068px no-repeat,
    linear-gradient(-45deg, rgb(48 20 83) -5%, rgb(240, 55, 166)) 50% 0
      no-repeat;
}
.sec1-about-text1,
.sec1-about-text2 {
  font-weight: bold !important;
  /* color: #de0933; */
  color: rgb(245, 131, 32);
  text-align: center;
}
.about-sec3-card{
  display: flex;
  justify-content: center !important;
  margin-bottom: 40px !important;
}

@media (max-width:1536px){
  .about-sec3-card-img{
    width: 245px !important;
    height: 245px !important;
  }
}

@media (max-width:899px){
  .about-sec3-card-img{
    width: 310px !important;
    height: 310px !important;
  }
}
@media (max-width: 599px) {
  .about-sec2 {
    padding: 25px !important;
  }

  .about-sec2 .css-1oqqzyl-MuiContainer-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .sec1-about-text1 {
    font-size: 3rem !important;
  }

  .sec1-about-text2 {
    font-size: 2rem !important;
    /* color: #ffffff !important; */
  }
  .about-sec3-heading{
    margin-top: 1em !important;
    font-size: 3rem !important;
  }
  .about-sec3-card-container{
    padding: 25px !important;
  }
  .about-sec3-card{
    display: flex;
    justify-content: center !important;
    
  }
  .about-sec3-card-img{
    height: 268px !important;
    width: 268px !important;
  }
}
