

.main-header{
  background: "repeating-linear-gradient(135deg,#f96702,#ff8400 2px,#f96702 2px,#f96702 10px)" !important;
}

.main-header-scrolled{
  background: #3e3e3e60 !important;
}

.header-tab {
  color: "#fff" !important;
  text-transform: "none" !important;
  font-size: "1rem" !important;
  font-weight: "bold" !important;
}

.drower-sidebar-item a {
  text-decoration: none !important;
  color: #ffffff !important;
}

.drower-sidebar-item a .MuiListItemButton-root {
  padding-left: 0px !important;
}

.MuiTabs-fixed .MuiTabs-indicator {
  background-color: #1ed760 !important;
  height: 3px;
}

.drower-sidebar .MuiDrawer-paper {
  width: 100% !important;
  background: #1667ac !important;
  color: #fff;
  height: 45vh !important;
}
.mobile-header-iconbtn {
  margin-left: 0px !important;
}
@media (max-width: 599px) {
  .toolbar-header {
    min-height: 80px !important;
  }

  .header-logo-box {
    display: flex !important;
    align-items: center !important;
  }
  .mobile-header-iconbtn svg {
    font-size: 3rem !important;
  }
  .header-logo-image {
    height: 4em !important;
    width: 10em !important;
  }
}
